html {
  width: 100vw;
}

/* SIGN IN */

#firebase-auth {
  background-color: white;
  border-top: 2px solid black;
  position: fixed;
  top: 60%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

#firebaseui-auth-container {
  color: black;
  padding: 40px;
  border-radius: 2px;
  font-family: Inter, sans-serif;
}

@media (max-width: 775px) {
  #firebaseui-auth-container {
    width: 100%;
  }
}

#authMethods {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

#auth-titile {
  font-weight: 300;
  margin: 0px;
  padding-bottom: 20px;
  text-align: center;
}

.auth-button {
  margin: 5px !important;
  min-width: 220px;
}

.itin-exp-btns_txt {
  cursor: pointer;
}

#user-pic {
  width: 40px;
  background-repeat: no-repeat;
  height: 40px;
  background-size: 40px;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 610px) {
  #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}

#signin {
  padding: 0px;
}

#password-input,
#email-input {
  width: 220px;
  padding: 8px;
}

/* HOME */

#destinations {
  list-style: none;
  padding: 15px;
  margin: 0px;
}
